{% extends 'base.html' %}
{% block navigation %}
<div class="w-50 p-3 m-auto d-flex justify-content-start">
    <a class="btn btn-secondary" href="{% url 'todo:todo_list' %}">Назад</a>
</div>
{% endblock navigation %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="description" class="form-label">Название задачи</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Описание задачи</label>
        <textarea type="text" class="form-control" id="text" name="text"></textarea>
    </div>
    <div class="mb-3">
        {% for status in statuses %}
        <div class="form-check">
            <input class="form-check-input" type="radio" value="{{status.0}}" name="status" id="status">
            <label class="form-check-label" for="status">
                {{status.1}}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Дата завершения</label>
        <input type="date" name="date" />
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
</form>
{% endblock content %}