{% extends 'base.html' %}

{% block navigations %}
<div class="w-50 p-3 m-auto d-flex justify-content-start">
    <a class="btn btn-secondary" href="{% url 'todo:todo_detail' todo.pk %}">Назад</a>
</div>
{% endblock navigations %}

{% block content %}
<form action="{% url 'todo:todo_update' todo.pk %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="description" class="form-label">Название задачи</label>
        <textarea type="text" class="form-control" id="description" name="description">{{todo.description}}</textarea>
    </div>
    <div class="mb-3">
        <label for="text" class="form-label">Описание задачи</label>
        <textarea type="text" class="form-control" id="text" name="text"></textarea>
    </div>
    <div class="mb-3">
        {% for status in statuses %}
        {% if status.1 == todo.get_status_display %}
        <div class="form-check">
            <input class="form-check-input" type="radio" value="{{status.0}}" name="status" id="status"
                checked="checked">
            <label class="form-check-label" for="status">
                {{status.1}}
            </label>
        </div>
        {% else %}
        <div class="form-check">
            <input class="form-check-input" type="radio" value="{{status.0}}" name="status" id="status">
            <label class="form-check-label" for="status">
                {{status.1}}
            </label>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="date" class="form-label">Дата завершения {{todo.date}}</label>
        <input type="date" name="date" value="{{ todo.date|date:'Y-m-d'}}" />
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock content %}